<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @cliente.zona_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @cliente.usuario_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @cliente.creado_por %>
</p>

<p>
  <strong>Actualizado por:</strong>
  <%= @cliente.actualizado_por %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
