<p id="notice"><%= notice %></p>

<p>
  <strong>Hora pedido:</strong>
  <%= @pedido.hora_pedido %>
</p>

<p>
  <strong>Hora entrega:</strong>
  <%= @pedido.hora_entrega %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @pedido.observacion %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @pedido.registro_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pedido.estado %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @pedido.creado_por %>
</p>

<p>
  <strong>Actualizado por:</strong>
  <%= @pedido.actualizado_por %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
