<p id="notice"><%= notice %></p>

<p>
  <strong>Zona:</strong>
  <%= @zona.zona %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @zona.tarifa %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @zona.estado %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @zona.creado_por %>
</p>

<p>
  <strong>Actualizado por:</strong>
  <%= @zona.actualizado_por %>
</p>

<%= link_to 'Edit', edit_zona_path(@zona) %> |
<%= link_to 'Back', zonas_path %>
