<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Disponibilidad</th>
      <th>Demora minutos</th>
      <th>Estado</th>
      <th>Creado por</th>
      <th>Actualizado por</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.producto %></td>
        <td><%= producto.disponibilidad %></td>
        <td><%= producto.demora_minutos %></td>
        <td><%= producto.estado %></td>
        <td><%= producto.creado_por %></td>
        <td><%= producto.actualizado_por %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
