<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @producto.producto %>
</p>

<p>
  <strong>Disponibilidad:</strong>
  <%= @producto.disponibilidad %>
</p>

<p>
  <strong>Demora minutos:</strong>
  <%= @producto.demora_minutos %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @producto.estado %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @producto.creado_por %>
</p>

<p>
  <strong>Actualizado por:</strong>
  <%= @producto.actualizado_por %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
