<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut %>
  </div>

  <div class="field">
    <%= form.label :razon_social %>
    <%= form.text_field :razon_social %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :creado_por %>
    <%= form.text_field :creado_por %>
  </div>

  <div class="field">
    <%= form.label :actualizado_por %>
    <%= form.text_field :actualizado_por %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
